html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  hanging-punctuation: first last;
}
/*
  Typographic tweaks!
  - Add accessible line-height
  - Improve text rendering
*/
*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.25;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
/* 
text-wrap: balance;
- Only works for the latest versions of Chrome
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  /* Change this according to your preferences */
  max-width: 75ch;
  text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference){
  :has(:target){
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}