---
interface Props {
  img: string;
  title: string;
  text: string;
}

const { img, title, text } = Astro.props;
---

<a href="">
  <article class="card" data-tilt>
    <img src="Showcase" alt="Attribute showcase" />
    <div>
      <h2 class="card__h2">Testing</h2>
      <p></p>
    </div>
  </article>
</a>

<style lang="scss">
  @use '../styless/utils/functions' as *;

  .card {
    background-color: red;
    &__h2 {
      display: block;
      width: toRem(150);
      aspect-ratio: 1;
      margin: auto;
    }
  }
</style>
<script src="../vanilla-tilt/scripts.js"></script>
