---
interface Props {
  title: string;
  text: string;
}

const { title, text } = Astro.props;
---

<article class="card">
  <slot />
  <div>
    <h2 class="card__h2">{title}</h2>
    <p>{text}</p>
  </div>
</article>

<style lang="scss">
  @use '../styless/utils/functions' as *;

  .card {
    background-color: var(--clr-bg);
    box-shadow: 0 0 1px var(--clr-text);
    border-radius: 10px;
    & div {
      padding: 1rem 1.5rem;
    }
    &__h2 {
      margin-bottom: 0.5rem;
      font-size: clamp(toRem(22), 3vw, toRem(30));
      font-weight: 600;
    }
  }
</style>
<script src="../vanilla-tilt/scripts.js"></script>
