---
interface Props {
  title: string;
  text: string;
  isAbsolute?: boolean;
}

const { title, text, isAbsolute = false } = Astro.props;
---

<article class:list={['card', { absolute: isAbsolute }]} aria-hidden="false">
  <div class="mb-8">
    <h2 class="card__h2">{title}</h2>
    <p>{text}</p>
  </div>
  <slot />
</article>

<style lang="scss">
  @use '../styless/utils/functions' as *;

  .card {
    background-color: hsl(0, 0%, 98%);
    // background-color: var(--clr-bg);
    box-shadow: 0 0 1px var(--clr-text);
    border-radius: .5rem;
    padding: 1.5rem;
    border: .5px solid hsl(0, 0%, 70%);
    box-shadow: 2px 2px 3px hsl(0, 0%, 85%);
    margin-block: 1rem;

    &__h2 {
      margin: 0.5rem 0;
      font-size: clamp(toRem(18), 3vw, toRem(30));
      font-weight: 600;
    }
  }
</style>
