---
---

<section class="cover">
  <a href="/">Build by Yefree 🤓</a>
  <h1>
    <span>RESETEAME</span>
    <span>Let't start with the right foot</span>
  </h1>
  <p>
    These powerful resources serve as a one-stop solution for kickstarting your
    web projects with ease and efficiency. Whether you're a seasoned developer
    or just starting, these tools will help you get your projects up and running
    in no time.
  </p>
  <div>
    <div>
      <a href="/">ok! Give me the thing!</a>
      <a href="#">umm, Not really sure yet</a>
    </div>
    <p>If it's good. You have to share it <a href="/">twitter link</a></p>
  </div>
</section>
