---
---

<section id="showcase" class="h-fit my-[10vh] rounded-lg">
  <h2 class="text-center w-full bottom-10 text-3xl font-bold mb-8">
    <spa>What's RESETÉAME exactly?</spa>
    <span class="text-xl font-base text-gray-400"
      >Everything you need to know about this files.</span
    >
  </h2>
  <div class="showcase">
    <picture class="shadow-lg w-full object-cover">
      <source
        srcset="/images/cover-dark.webp"
        media="(prefers-color-scheme: dark)"
      />
      <source
        srcset="/images/cover.webp"
        media="(prefers-color-scheme: light)"
      />
      <img
        class="w-full object-cover"
        src="/images/cover.webp"
        alt="screenshot pagina"
      />
    </picture>
  </div>
</section>

<style lang="scss">
  .showcase {
    position: relative;
    isolation: isolate;
  }

  .showcase::after {
    content: '';
    position: absolute;
    inset: 0px;
    border-radius: 1rem;
    outline: 0.5px solid hsl(0, 0%, 50%);
    background: linear-gradient(
      45deg,
      hsl(275, 99%, 29%),
      hsla(246, 89%, 11%, 0.55)
    );
    z-index: -1;
  }
</style>
<script src="../vanilla-tilt/scripts.js"></script>
