---
import Card from './Card.astro';
import CardImages from './CardImages.astro';
---

<section id="showcase" class="h-fit my-[10vh] rounded-lg">
  <header
    class="gap-4 text-center justify-center items-center flex flex-col md:flex-row w-full bottom-10 text-xl md:text-3xl font-bold mb-8"
  >
    <h2>What's RESETÉAME exactly?</h2>
    <span class="text-lg md:text-xl font-base text-gray-600"
      >____Everything you need to know about this files.</span
    >
  </header>
  <div class="showcase" aria-hidden="false">
    <picture class="shadow-lg w-full object-cover">
      <source
        srcset="/images/cover-dark.webp"
        media="(prefers-color-scheme: dark)"
      />
      <source
        srcset="/images/cover.webp"
        media="(prefers-color-scheme: light)"
      />
      <img
        class="w-full object-cover"
        src="/images/cover.webp"
        alt="screenshot pagina"
      />
    </picture>
  </div>
  <div class="grid md:grid-cols-3 gap-4">
    <Card
      title="Better reader expierence"
      text="Make it easy for the people that come to your site read the content in it."
    >
      <CardImages />
    </Card>
    <Card
      title="Resets"
      text="Updated resets with the latest built in accesibility"
    />
    <Card
      title="Resets"
      text="Updated resets with the latest built in accesibility"
    />
  </div>
</section>

<style lang="scss">
  .showcase {
    position: relative;
    isolation: isolate;
    margin-bottom: 10vh;
    transform-style: preserve-3d;
    transform: rotateX(45deg) perspective(1000px);
    transition: all 2s ease-in-out;
    opacity: 0;
  }

  .showcase[aria-hidden='true'] {
    transform: rotateX(0deg);
    opacity: 1;
  }

  .showcase img {
    transform: translateZ(25px);
    @media (width < 40em) {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: left;
    }
  }

  .showcase::after {
    content: '';
    position: absolute;
    inset: 0px;
    border-radius: 10px;
    outline: 0.5px solid hsl(0, 0%, 50%);
    background: linear-gradient(
      45deg,
      hsl(275, 99%, 29%),
      hsla(246, 89%, 11%, 0.55)
    );
    z-index: -1;
  }

  @keyframes wakeUp {
    from {
      transform: rotateX(45deg);
      opacity: 0;
    }

    to {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
</style>
<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.setAttribute('aria-hidden', 'true');
      }
    });
  });

  const hiddenItem = document.querySelector('.showcase');
  observer.observe(hiddenItem);
</script>
