---
---

<section class="showcase">
  <div>
    <picture>
      <source
        srcset="/images/cover-dark.webp"
        media="(prefers-color-scheme: dark)"
      />
      <source
        srcset="/images/cover.webp"
        media="(prefers-color-scheme: light)"
      />
      <img src="/images/cover.webp" alt="" />
    </picture>
    <h2>
      <spa>What's RESETÉAME exactly?</spa>
      <span>Everything you need to know about this files.</span>
    </h2>
  </div>
</section>
