<footer class="p-4 bg-[#f5f5f5] md:p-8 lg:p-10 dark:bg-[#000b17]">
  <div class="mx-auto max-w-screen-xl text-center">
    <a
      href="/"
      class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white"
    >
      <img
        src="/icons/resets.svg"
        alt=""
        class="w-[2rem] h-[2rem] aspect-square"
      />
      RESETÉAME
    </a>
    <p class="my-6 text-gray-500 dark:text-gray-400">
      Open-source, updated, lightweight, and simple web resets files to built
      your next project with the right foot.
    </p>
    <ul
      class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white"
    >
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">About</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Readme</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Portfolio</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Support</a>
      </li>
    </ul>
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2023 <a href="#" class="hover:underline">YefreeDevs</a>. All Rights
      Reserved.</span
    >
  </div>
</footer>
