---
// import components

import MenuIcon from './IconMenu.astro';
interface Props {
  text: string;
  href: string;
  style?: 'principal' | 'secondary' | 'accent';
  isFilled?: boolean;
  target?: boolean;
  svg?: boolean;
  fit?: boolean;
}

const { text, href, style, isFilled, target = true, svg, fit } = Astro.props;
---

<a
  class:list={['link_btn', { filled: isFilled, linkImg: svg, 'w-fit': fit }]}
  href={href}
  target={target ? '_blank' : '_self'}
  data-theme={style}
>
  {svg && <slot />}
  {text}
</a>

<style lang="scss">
  .link_btn {
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 7px;
    border: 1px solid hsl(0, 0%, 58%);
    // width: fit-content;
  }

  .link_btn.linkImg {
    display: flex;
    gap: 10px;
  }

  .link_btn:hover {
    opacity: 0.86;
  }
  .link_btn.filled {
    background-color: hsl(0, 0%, 93%);
    color: hsl(0, 0%, 5%);
    border: 1px solid hsl(275, 67%, 19%);
  }

  .link_btn.filled[data-theme='principal'] {
    background-color: hsl(275, 77%, 58%);
    color: hsl(0, 0%, 95%);
  }
  .link_btn.filled[data-theme='secondary'] {
    background-color: hsl(275, 50%, 90%);
    color: hsl(0, 0%, 16%);
  }
  .link_btn.filled[data-theme='accent'] {
  }
</style>
