---
// import components
import Card from './Card.astro';
import Links from './Links.astro';

const tagsCloud = [
  'Firefox',
  'Brave',
  'Opera',
  'Duck Duck Go',
  'Chrome',
  'Safari',
];
---

<section class="section">
  <img class="w-[20em] -rotate-[10deg]" src="images/covers/excellent.png" alt="">
  <h2 class="font-black text-4xl my-8 text-center">Stop reading all this and start creating your own and amazing projects!</h2>
    <Links
      text="Get me the files!!"
      href="https://github.com/yefreescoding/reseteame/tree/main/resets"
      isFilled={true}
      style="principal"
      fit={true}
    />
  </div>
</section>

<style lang="scss" is:global>
  .section {
    margin: 5rem 0;
    height: fit-content;
    display: grid;
    place-items: center;
  }
</style>

<!-- <script>
  import { observer } from '../scripts/functions';

  const cards = document.querySelectorAll('.card');

  cards.forEach((card) => {
    console.log(cards);
    observer.observe(card);
  });
</script> -->
