---
import Card from './Card.astro';
import CardImagesHtml from './CardImagesHtml.astro';
import CardImagesCss from './CardImagesCss.astro';
import CardImagesReact from './CardImagesReact.astro';
---

<section
  id="showcase"
  class="h-fit my-[10vh] rounded-lg"
  aria-labelby="Feautres about the product"
>
  <div class="showcase" aria-hidden="false">
    <header
      class="gap-4  justify-center  flex flex-col w-full bottom-10 text-xl md:text-3xl font-bold mb-8"
    >
      <h2 class="mb-4">What's RESETÉAME exactly?</h2>
      <p class="text-lg md:text-xl font-base text-gray-600"
        >Simple. Two files made to kick out your next project with the best base possible. Not need to modify anything all that You'll find here is 100% reliable. Everything you need to know about this files. </p
      >
    </header>
    <div class="relative">
      <img
        class="w-full object-cover rounded-2xl absolute top-0 bottom-4 right-0 left-0"
        src="/images/cover.webp"
        alt="screenshot pagina"
      />
    </div>
  </div>
  <div class="grid md:grid-cols-2 gap-4">
    <div>
       <Card
      title="SEO optimazed"
      text="Stop worriying about this boring meta tags and focus on your work."
    >
      <CardImagesHtml />
    </Card>
    <Card
      title="Better UX"
      text="Base style properties for better font rendering. All the styles are focused on create a strong base."
    >
      <CardImagesCss />
    </Card>
    </div>
   <div>
     <Card
       title="Works with ALL"
       text="You like Vanilla? Are you working with React? Svelt, maybe? What about Astro? Do not worry we got you cover."
     >
       <CardImagesReact />
     </Card>
     <Card
       title="Works with ALL"
       text="You like Vanilla? Are you working with React? Svelt, maybe? What about Astro? Do not worry we got you cover."
     >
       <CardImagesReact />
     </Card>
   </div>
  </div>
</section>

<style lang="scss">
  .showcase {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (width < 54em){
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);

    }
    gap: 1rem;
    margin-bottom: 1rem;
    background-color: hsl(0, 0%, 98%);
    border: .5px solid hsl(0, 0%, 70%);
    box-shadow: 2px 2px 3px hsl(0, 0%, 85%);
    border-radius: .5rem;
    padding: 3rem;
    overflow: hidden;
  }

 

  .showcase img {
    transform: translateZ(25px);
    @media (width < 40em) {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: left;
    }
  }

  @keyframes wakeUp {
    from {
      transform: rotateX(45deg);
      opacity: 0;
    }

    to {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
</style>
<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.setAttribute('aria-hidden', 'true');
      }
    });
  });

  const hiddenItem = document.querySelector('.showcase') as HTMLElement;
  observer.observe(hiddenItem);
</script>
