:root {
  --clr-bg: #f5f5f5;
  --clr-text: hsl(275, 77%, 8%);
  --accent: #0b021b;
  @media (prefers-color-scheme: dark) {
    --clr-bg: #000b17;
    --clr-text: hsl(0, 0%, 90%);
    --accent: #72329f;
  }
}

html {
  color-scheme: light dark;
}

.main {
  background-color: var(--clr-bg);
  color: var(--clr-text);
}

.wrapper {
  background-color: var(--clr-bg);
}
