:root {
  --clr-bg: #f5f5f5;
  --clr-text: hsl(275, 77%, 8%);
  --accent: #c3b7d6;
  @media (prefers-color-scheme: dark) {
    --clr-bg: #000b17;
    --clr-text: hsl(0, 0%, 90%);
    --accent: hsl(275, 52%, 41%);
  }
}

html {
  color-scheme: light dark;
}

.main {
  background-color: var(--clr-bg);
  color: var(--clr-text);
}

.wrapper {
  background-color: var(--clr-bg);
}
