---
// import components
import MetaTags from '../components/MetaTags.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;

import '../styless/index.scss';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaTags title={title} description="Best resets of the web right now." />
  </head>
  <body data-visible="false">
    <div class="wrapper">
      <Header />
      <main class="main">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
